body {
    height: 100vh;
    width: 100%;
    margin: 0;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

main {
    min-width: 500px;
    height: 60vh;
    padding: 30px;
    background-color: rgba(98, 68, 89, 0.9);
    border-radius: 10px;
}


.grid-container {
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(4, 2fr) 1f 3fr;
    grid-template-rows: 3fr repeat(4, 2fr);
    gap: 0px 0px;
    grid-template-areas:
      "display display display display display display"
      "seven eight nine divide enter enter"
      "four five six multiplyy enter enter"
      "one two three minus enter enter"
      "swapsign zeroo comma plus clear back";
  }
  .display { grid-area: display; }
  .zeroo { grid-area: zeroo; }
  .swapsign { grid-area: swapsign; }
  .comma { grid-area: comma; }
  .plus { grid-area: plus; }
  .minus { grid-area: minus; }
  .multiplyy { grid-area: multiplyy; }
  .divide { grid-area: divide; }
  .enter { grid-area: enter; }
  .back { grid-area: back; }
  .clear { grid-area: clear; }
  .seven { grid-area: seven; }
  .eight { grid-area: eight; }
  .nine { grid-area: nine; }
  .one { grid-area: one; }
  .two { grid-area: two; }
  .three { grid-area: three; }
  .four { grid-area: four; }
  .five { grid-area: five; }
  .six { grid-area: six; }


.display {
    background-color: yellow;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.display > span {
    margin: 5px;
    padding: 5px;
    background-color: white;
    border: 1px solid black;
    width: 100%;
    min-height: 18px;

    display: flex;
    justify-content: flex-end;    
}

#operator-display {
    width: 26px;
    text-align: center;
}

.num {
    background-color: coral;
}

.operator {
    background-color: darkseagreen;   
}

.comma {
    background-color: hotpink;
}

.swapsign {
    background-color: mediumaquamarine;
}

.back {
    background-color: red;
}
